/* Row Component classes */
.row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  color: #333;
}

.row.header {
  background-color: #ccc;
  color: #999;
}
.row > .col {
  padding: 10px;
  text-transform: capitalize;
  flex: 1;
}